In [1]:
import pandas as pd

In [10]:
df = pd.read_excel('..\data\Sample Data AgencyExpress (1% sample Georgia).xlsx')
df = df[['DOCUMENTID']]
display(df)

     DOCUMENTID
0    ID_5448830
1    ID_5447380
2    ID_5440775
3    ID_5438735
4    ID_5432371
..          ...
499  ID_5450194
500         NaN
501         NaN
502         NaN
503           1

[504 rows x 1 columns]